.display_box_hover, .display_box:hover
{
  background:#3b5998;
  color:#FFFFFF;
}

#Results {
	text-align: center;
	display: block;
	margin: 0 auto;
	width: auto;
	font-family: 'Helvetica Neue'
}

#SearchInput {
	display: block;
	width: 20%;
	height: auto;
	margin: 0 auto;
}

#SingleUserDiv {
	width: 50%;
	margin: 0 auto;
	display: block;
}


.UserImage {
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.UserScreenName {
	display: inline;
	color: #9E9E98;
}
